<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104294309891-kp5dmdq6ku514c22peatd95cjfchd6c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104294309891-kp5dmdq6ku514c22peatd95cjfchd6c9</string>
	<key>API_KEY</key>
	<string>AIzaSyAK3mtD5Wk6pdScqLgLeHOZlXU0iZFKI0w</string>
	<key>GCM_SENDER_ID</key>
	<string>104294309891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourlab</string>
	<key>PROJECT_ID</key>
	<string>lab29-10</string>
	<key>STORAGE_BUCKET</key>
	<string>lab29-10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104294309891:ios:6439182e0ebd0f1754ee36</string>
</dict>
</plist>